doctype html
html(lang="en")
  head
    title= pageTitle
    link(href = 'css/css.css', rel='stylesheet')
    script(src = '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src = 'js/script.js')
  body
    h1 Start Page

    if admin
      p Привет,&nbsp;
        span= admin

    form(method = 'post', action = '/submit')
      input(type = 'text', name = 'user', placeholder = 'имя')
      div
        textarea(name = 'message', placeholder = 'сообщение')
      input(type = 'submit')
    .output
      each val in messages
       include message
