doctype html
html(lang="en")
  head
    title= pageTitle
    link(href = 'css/css.css')
    script(src = '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src = 'js/script.js')
  body
    h1 Start Page

    if admin
      h2 Hello,&nbsp;
        span= admin

    img(src = 'pic/pic.jpeg')
    form(method = 'post', action = '/submit')
      input(type = 'text', name = 'user')
      textarea(name = 'message')
      input(type = 'submit')
    #output
      each val in messages
       include message
