doctype html
html(lang="en")
  head
    title= pageTitle
    link(href = 'css/css.css', rel='stylesheet')
  body
    h1 Start Page

    if isAdmin
      p Привет,&nbsp;
        span= adminName

    form(method = 'post', action = '/submit')
      input(type = 'text', name = 'user', placeholder = 'имя')
      div
        textarea(name = 'message', placeholder = 'сообщение')
      input(type = 'submit')
    .output
      each val in messages
       include message
